<footer class="footer" style="background-color: black;">
    <div class="question-main-container" >
        <h1>Frequently Asked Questions</h1>
        <div class="question-container">
            <div class="card-1">
                <h3>What is codey?</h3>
                <p>Donec finibus eu ligula a tincidunt. Integer eu tincidunt ante, ac scelerisque lorem. Suspendisse interdum velit a odio placerat, maximus laoreet neque porttitor.</p>
            </div>
            <div class="card-1">
                <h3>What is Forgejo?</h3>
                <p>Donec finibus eu ligula a tincidunt. Integer eu tincidunt ante, ac scelerisque lorem. Suspendisse interdum velit a odio placerat, maximus laoreet neque porttitor.</p>
            </div>
            <div class="card-1">
                <h3>What are my benefits?</h3>
                <p>Donec finibus eu ligula a tincidunt. Integer eu tincidunt ante, ac scelerisque lorem. Suspendisse interdum velit a odio placerat, maximus laoreet neque porttitor.</p>
            </div>
            <div class="card-1">
                <h3>Why Forgejo and not X?</h3>
                <p>Donec finibus eu ligula a tincidunt. Integer eu tincidunt ante, ac scelerisque lorem. Suspendisse interdum velit a odio placerat, maximus laoreet neque porttitor.</p>
            </div>
            <div class="card-1">
                <h3>Where does my instance run?</h3>
                <p>Donec finibus eu ligula a tincidunt. Integer eu tincidunt ante, ac scelerisque lorem. Suspendisse interdum velit a odio placerat, maximus laoreet neque porttitor.</p>
            </div>
            <div class="card-1">
                <h3>Who’s behind it?</h3>
                <p>Donec finibus eu ligula a tincidunt. Integer eu tincidunt ante, ac scelerisque lorem. Suspendisse interdum velit a odio placerat, maximus laoreet neque porttitor.</p>
            </div>
        </div>
        
    </div>
    <div class="end-section">
        {{ $image := resources.Get "images/OriginalLogo.svg" }}
        <img src="{{ $image.RelPermalink }}" alt="">
        <div class="border"></div>
        <div class="end-details">
        <div class="copy-right">Copyright 2024 by VSHN AG</div>
        <div class="right">
            <p>GTC</p>
            <p>Data Processing Agrement</p>
            <p>Privacy Policy</p>
        </div>
    </div>
</div>
    
</footer>