
<section>
    <div class="container">
        <h1> Forgejo Features</h1>
        <div class="cards-container">
            <div class="card-section">
                <div class="card">
                    <h3>Code Hosting</h3>
                    <p>Fusce vulputate magna ac nisl commodo, et elementum augue imperdiet, malesuada velit.</p>
                </div>
                <div class="card">
                    <h3>Integrated CI/CD, compatible with GitHub Actions</h3>
                    <p>Fusce vulputate magna ac nisl commodo, et elementum augue imperdiet, malesuada velit.</p>
                </div>

            </div>
            <div class="card-section">
                <div class="card">
                    <h3>Packages (Container images, …)</h3>
                    <p>Fusce vulputate magna ac nisl commodo, et elementum augue imperdiet, malesuada velit.</p>
                </div>
                <div class="card">
                    <h3>Projects (Issue tracking)</h3>
                    <p>Fusce vulputate magna ac nisl commodo, et elementum augue imperdiet, malesuada velit.</p>
                </div>
            </div>
            <div class="card-section">
                <div class="card">
                    <h3>Planned: Forge federation</h3>
                    <p>Fusce vulputate magna ac nisl commodo, et elementum augue imperdiet, malesuada velit.</p>
                </div>
                <div class="card">
                    <h3>Guaranteed 100% Free Software</h3>
                    <p>Fusce vulputate magna ac nisl commodo, et elementum augue imperdiet, malesuada velit.</p>
                </div>
            </div>
        </div>
        <h3>More About Forgejo</h3>

    </div>

</section>